In [4]:
import pandas as pd
import altair
import numpy as np
import yfinance as yf

In [6]:
GOOG = yf.download("GOOG", start = "2010-01-01",end ="2023-09-30")

[*********************100%%**********************]  1 of 1 completed

In [9]:
ticker=["SPY","MSFT","GOOG"]
stocks = yf.download(ticker, start = "2010-01-01",end ="2023-09-30")

[*********************100%%**********************]  3 of 3 completed

In [11]:
stocks.head()

            Adj Close                            Close                         \
                 GOOG       MSFT        SPY       GOOG       MSFT         SPY
Date
2010-01-04  15.610239  23.522564  87.483192  15.610239  30.950001  113.330002
2010-01-05  15.541497  23.530161  87.714775  15.541497  30.959999  113.629997
2010-01-06  15.149715  23.385763  87.776543  15.149715  30.770000  113.709999
2010-01-07  14.797037  23.142563  88.147087  14.797037  30.450001  114.190002
2010-01-08  14.994298  23.302156  88.440407  14.994298  30.660000  114.570000

                 High                               Low             \
                 GOOG       MSFT         SPY       GOOG       MSFT
Date
2010-01-04  15.678981  31.100000  113.389999  15.547723  30.590000
2010-01-05  15.637387  31.100000  113.680000  15.480475  30.639999
2010-01-06  15.588072  31.080000  113.989998  15.102393  30.520000
2010-01-07  15.193053  30.700001  114.330002  14.760922  30.190001
2010-01-08  15.024933  30.879999  114.620003  14.672753  30.240000

                             Open                            Volume            \
                   SPY       GOOG       MSFT         SPY       GOOG      MSFT
Date
2010-01-04  111.510002  15.615220  30.620001  112.370003   78541293  38409100
2010-01-05  112.849998  15.620949  30.850000  113.260002  120638494  49749600
2010-01-06  113.430000  15.588072  30.879999  113.519997  159744526  58182400
2010-01-07  113.180000  15.178109  30.629999  113.500000  257533695  50559700
2010-01-08  113.660004  14.744733  30.280001  113.889999  189680313  51197400


                  SPY
Date
2010-01-04  118944600
2010-01-05  111579900
2010-01-06  116074400
2010-01-07  131091100
2010-01-08  126402800

In [13]:
stocks.tail()

             Adj Close                               Close              \
                  GOOG        MSFT         SPY        GOOG        MSFT
Date
2023-09-25  132.169998  317.540009  432.230011  132.169998  317.540009
2023-09-26  129.449997  312.140015  425.880005  129.449997  312.140015
2023-09-27  131.460007  312.790009  426.049988  131.460007  312.790009
2023-09-28  133.130005  313.640015  428.519989  133.130005  313.640015
2023-09-29  131.850006  315.750000  427.480011  131.850006  315.750000

                              High                                 Low  \
                   SPY        GOOG        MSFT         SPY        GOOG
Date
2023-09-25  432.230011  132.220001  317.670013  432.269989  130.029999
2023-09-26  425.880005  131.404999  315.880005  429.820007  128.190002
2023-09-27  426.049988  131.720001  314.299988  427.670013  129.380005
2023-09-28  428.519989  134.179993  315.480011  430.250000  130.690002
2023-09-29  427.480011  134.889999  319.470001  431.850006  131.320007

                                          Open                          \
                  MSFT         SPY        GOOG        MSFT         SPY
Date
2023-09-25  315.000000  428.720001  130.770004  316.589996  429.170013
2023-09-26  310.019989  425.019989  130.914001  315.130005  429.089996
2023-09-27  309.690002  422.290009  129.440002  312.299988  427.089996
2023-09-28  309.450012  424.869995  130.690002  310.989990  425.480011
2023-09-29  314.980011  425.910004  134.080002  317.750000  431.670013

              Volume
                GOOG      MSFT        SPY
Date
2023-09-25  14650000  17836000   70874500
2023-09-26  20378800  26297600   96168400
2023-09-27  18764200  19410100  104705800
2023-09-28  18201400  19683600   92258300
2023-09-29  23224200  24140300  115078500

In [15]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3459 entries, 2010-01-04 to 2023-09-29
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, GOOG)  3459 non-null   float64
 1   (Adj Close, MSFT)  3459 non-null   float64
 2   (Adj Close, SPY)   3459 non-null   float64
 3   (Close, GOOG)      3459 non-null   float64
 4   (Close, MSFT)      3459 non-null   float64
 5   (Close, SPY)       3459 non-null   float64
 6   (High, GOOG)       3459 non-null   float64
 7   (High, MSFT)       3459 non-null   float64
 8   (High, SPY)        3459 non-null   float64
 9   (Low, GOOG)        3459 non-null   float64
 10  (Low, MSFT)        3459 non-null   float64
 11  (Low, SPY)         3459 non-null   float64
 12  (Open, GOOG)       3459 non-null   float64
 13  (Open, MSFT)       3459 non-null   float64
 14  (Open, SPY)        3459 non-null   float64
 15  (Volume, GOOG)     3459 non-null   int64
 16  (Volume, MSFT)     3459 non-null   int64
 17  (Volume, SPY)      3459 non-null   int64
dtypes: float64(15), int64(3)
memory usage: 513.4 KB

In [17]:
stocks.to_csv("sushmit_stocksYT.csv")
stocks = pd.read_csv("sushmit_stocksYT.csv")
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,NaN,GOOG,MSFT,SPY,GOOG,MSFT,SPY,GOOG,MSFT,SPY,GOOG,MSFT,SPY,GOOG,MSFT,SPY,GOOG,MSFT,SPY
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,15.610239028930664,23.522563934326172,87.48319244384766,15.610239028930664,30.950000762939453,113.33000183105469,15.678980827331543,31.100000381469727,113.38999938964844,15.547722816467285,30.59000015258789,111.51000213623047,15.615220069885254,30.6200008392334,112.37000274658203,78541293,38409100,118944600
3,2010-01-05,15.541497230529785,23.530160903930664,87.71477508544922,15.541497230529785,30.959999084472656,113.62999725341797,15.6373872756958,31.100000381469727,113.68000030517578,15.480475425720215,30.639999389648438,112.8499984741211,15.620948791503906,30.850000381469727,113.26000213623047,120638494,49749600,111579900
4,2010-01-06,15.149715423583984,23.38576316833496,87.77654266357422,15.149715423583984,30.770000457763672,113.70999908447266,15.588071823120117,31.079999923706055,113.98999786376953,15.10239315032959,30.520000457763672,113.43000030517578,15.588071823120117,30.8799991607666,113.5199966430664,159744526,58182400,116074400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3456,2023-09-25,132.1699981689453,317.5400085449219,432.2300109863281,132.1699981689453,317.5400085449219,432.2300109863281,132.22000122070312,317.6700134277344,432.2699890136719,130.02999877929688,315.0,428.7200012207031,130.77000427246094,316.5899963378906,429.1700134277344,14650000,17836000,70874500
3457,2023-09-26,129.4499969482422,312.1400146484375,425.8800048828125,129.4499969482422,312.1400146484375,425.8800048828125,131.40499877929688,315.8800048828125,429.82000732421875,128.19000244140625,310.0199890136719,425.0199890136719,130.91400146484375,315.1300048828125,429.0899963378906,20378800,26297600,96168400
3458,2023-09-27,131.4600067138672,312.7900085449219,426.04998779296875,131.4600067138672,312.7900085449219,426.04998779296875,131.72000122070312,314.29998779296875,427.6700134277344,129.3800048828125,309.69000244140625,422.2900085449219,129.44000244140625,312.29998779296875,427.0899963378906,18764200,19410100,104705800
3459,2023-09-28,133.1300048828125,313.6400146484375,428.5199890136719,133.1300048828125,313.6400146484375,428.5199890136719,134.17999267578125,315.4800109863281,430.25,130.69000244140625,309.45001220703125,424.8699951171875,130.69000244140625,310.989990234375,425.4800109863281,18201400,19683600,92258300
3460,2023-09-29,131.85000610351562,315.75,427.4800109863281,131.85000610351562,315.75,427.4800109863281,134.88999938964844,319.4700012207031,431.8500061035156,131.32000732421875,314.9800109863281,425.9100036621094,134.0800018310547,317.75,431.6700134277344,23224200,24140300,115078500

In [49]:
stocks = pd.read_csv("sushmit_stocksYT.csv",header=[0,1])
stocks

,Unnamed: 0_level_0,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
,0,Unnamed: 1_level_1,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY
0,1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2010-01-04,6.695000,23.522570,87.483192,6.695000,30.950001,113.330002,6.830500,31.100000,113.389999,6.657000,30.590000,111.510002,6.812500,30.620001,112.370003,151998000.0,38409100.0,118944600.0
2,3,2010-01-05,6.734500,23.530167,87.714783,6.734500,30.959999,113.629997,6.774000,31.100000,113.680000,6.590500,30.639999,112.849998,6.671500,30.850000,113.260002,177038000.0,49749600.0,111579900.0
3,4,2010-01-06,6.612500,23.385763,87.776535,6.612500,30.770000,113.709999,6.736500,31.080000,113.989998,6.582500,30.520000,113.430000,6.730000,30.879999,113.519997,143576000.0,58182400.0,116074400.0
4,5,2010-01-07,6.500000,23.142555,88.147087,6.500000,30.450001,114.190002,6.616000,30.700001,114.330002,6.440000,30.190001,113.180000,6.600500,30.629999,113.500000,220604000.0,50559700.0,131091100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3455,3456,2023-09-25,131.270004,317.540009,432.230011,131.270004,317.540009,432.230011,131.779999,317.670013,432.269989,128.770004,315.000000,428.720001,129.360001,316.589996,429.170013,46017800.0,17836000.0,70874500.0
3456,3457,2023-09-26,125.980003,312.140015,425.880005,125.980003,312.140015,425.880005,130.389999,315.880005,429.820007,125.279999,310.019989,425.019989,130.119995,315.130005,429.089996,73048200.0,26297600.0,96168400.0
3457,3458,2023-09-27,125.980003,312.790009,426.049988,125.980003,312.790009,426.049988,127.480003,314.299988,427.670013,124.129997,309.690002,422.290009,125.760002,312.299988,427.089996,66553400.0,19410100.0,104705800.0
3458,3459,2023-09-28,125.980003,313.640015,428.519989,125.980003,313.640015,428.519989,126.580002,315.480011,430.250000,123.040001,309.450012,424.869995,124.040001,310.989990,425.480011,54555000.0,19683600.0,92258300.0
3459,3460,2023-09-29,127.120003,315.750000,427.480011,127.120003,315.750000,427.480011,129.149994,319.470001,431.850006,126.320000,314.980011,425.910004,128.199997,317.750000,431.670013,62377600.0,24140300.0,115078500.0

In [54]:
stocks = pd.read_csv("sushmit_stocksYT.csv",header=[0,1],index_col=[0])
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,Unnamed: 1_level_1,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,6.695000,23.522570,87.483192,6.695000,30.950001,113.330002,6.830500,31.100000,113.389999,6.657000,30.590000,111.510002,6.812500,30.620001,112.370003,151998000.0,38409100.0,118944600.0
3,2010-01-05,6.734500,23.530167,87.714783,6.734500,30.959999,113.629997,6.774000,31.100000,113.680000,6.590500,30.639999,112.849998,6.671500,30.850000,113.260002,177038000.0,49749600.0,111579900.0
4,2010-01-06,6.612500,23.385763,87.776535,6.612500,30.770000,113.709999,6.736500,31.080000,113.989998,6.582500,30.520000,113.430000,6.730000,30.879999,113.519997,143576000.0,58182400.0,116074400.0
5,2010-01-07,6.500000,23.142555,88.147087,6.500000,30.450001,114.190002,6.616000,30.700001,114.330002,6.440000,30.190001,113.180000,6.600500,30.629999,113.500000,220604000.0,50559700.0,131091100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3456,2023-09-25,131.270004,317.540009,432.230011,131.270004,317.540009,432.230011,131.779999,317.670013,432.269989,128.770004,315.000000,428.720001,129.360001,316.589996,429.170013,46017800.0,17836000.0,70874500.0
3457,2023-09-26,125.980003,312.140015,425.880005,125.980003,312.140015,425.880005,130.389999,315.880005,429.820007,125.279999,310.019989,425.019989,130.119995,315.130005,429.089996,73048200.0,26297600.0,96168400.0
3458,2023-09-27,125.980003,312.790009,426.049988,125.980003,312.790009,426.049988,127.480003,314.299988,427.670013,124.129997,309.690002,422.290009,125.760002,312.299988,427.089996,66553400.0,19410100.0,104705800.0
3459,2023-09-28,125.980003,313.640015,428.519989,125.980003,313.640015,428.519989,126.580002,315.480011,430.250000,123.040001,309.450012,424.869995,124.040001,310.989990,425.480011,54555000.0,19683600.0,92258300.0
3460,2023-09-29,127.120003,315.750000,427.480011,127.120003,315.750000,427.480011,129.149994,319.470001,431.850006,126.320000,314.980011,425.910004,128.199997,317.750000,431.670013,62377600.0,24140300.0,115078500.0

In [78]:
stocks = pd.read_csv("sushmit_stocksYT.csv",header=[0,1],index_col=[0], parse_dates=[0])
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,Unnamed: 1_level_1,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,6.695000,23.522570,87.483192,6.695000,30.950001,113.330002,6.830500,31.100000,113.389999,6.657000,30.590000,111.510002,6.812500,30.620001,112.370003,151998000.0,38409100.0,118944600.0
3,2010-01-05,6.734500,23.530167,87.714783,6.734500,30.959999,113.629997,6.774000,31.100000,113.680000,6.590500,30.639999,112.849998,6.671500,30.850000,113.260002,177038000.0,49749600.0,111579900.0
4,2010-01-06,6.612500,23.385763,87.776535,6.612500,30.770000,113.709999,6.736500,31.080000,113.989998,6.582500,30.520000,113.430000,6.730000,30.879999,113.519997,143576000.0,58182400.0,116074400.0
5,2010-01-07,6.500000,23.142555,88.147087,6.500000,30.450001,114.190002,6.616000,30.700001,114.330002,6.440000,30.190001,113.180000,6.600500,30.629999,113.500000,220604000.0,50559700.0,131091100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3456,2023-09-25,131.270004,317.540009,432.230011,131.270004,317.540009,432.230011,131.779999,317.670013,432.269989,128.770004,315.000000,428.720001,129.360001,316.589996,429.170013,46017800.0,17836000.0,70874500.0
3457,2023-09-26,125.980003,312.140015,425.880005,125.980003,312.140015,425.880005,130.389999,315.880005,429.820007,125.279999,310.019989,425.019989,130.119995,315.130005,429.089996,73048200.0,26297600.0,96168400.0
3458,2023-09-27,125.980003,312.790009,426.049988,125.980003,312.790009,426.049988,127.480003,314.299988,427.670013,124.129997,309.690002,422.290009,125.760002,312.299988,427.089996,66553400.0,19410100.0,104705800.0
3459,2023-09-28,125.980003,313.640015,428.519989,125.980003,313.640015,428.519989,126.580002,315.480011,430.250000,123.040001,309.450012,424.869995,124.040001,310.989990,425.480011,54555000.0,19683600.0,92258300.0
3460,2023-09-29,127.120003,315.750000,427.480011,127.120003,315.750000,427.480011,129.149994,319.470001,431.850006,126.320000,314.980011,425.910004,128.199997,317.750000,431.670013,62377600.0,24140300.0,115078500.0

In [80]:
stocks.columns

MultiIndex([( 'Unnamed: 0', 'Unnamed: 1_level_1'),
            (  'Adj Close',               'AMZN'),
            ('Adj Close.1',               'MSFT'),
            ('Adj Close.2',                'SPY'),
            (      'Close',               'AMZN'),
            (    'Close.1',               'MSFT'),
            (    'Close.2',                'SPY'),
            (       'High',               'AMZN'),
            (     'High.1',               'MSFT'),
            (     'High.2',                'SPY'),
            (        'Low',               'AMZN'),
            (      'Low.1',               'MSFT'),
            (      'Low.2',                'SPY'),
            (       'Open',               'AMZN'),
            (     'Open.1',               'MSFT'),
            (     'Open.2',                'SPY'),
            (     'Volume',               'AMZN'),
            (   'Volume.1',               'MSFT'),
            (   'Volume.2',                'SPY')],
           names=[None, '0'])

In [82]:
#convert mult index to one tuple
stocks.columns=stocks.columns.to_flat_index()

In [84]:
stocks.columns

Index([('Unnamed: 0', 'Unnamed: 1_level_1'),
                      ('Adj Close', 'AMZN'),
                    ('Adj Close.1', 'MSFT'),
                     ('Adj Close.2', 'SPY'),
                          ('Close', 'AMZN'),
                        ('Close.1', 'MSFT'),
                         ('Close.2', 'SPY'),
                           ('High', 'AMZN'),
                         ('High.1', 'MSFT'),
                          ('High.2', 'SPY'),
                            ('Low', 'AMZN'),
                          ('Low.1', 'MSFT'),
                           ('Low.2', 'SPY'),
                           ('Open', 'AMZN'),
                         ('Open.1', 'MSFT'),
                          ('Open.2', 'SPY'),
                         ('Volume', 'AMZN'),
                       ('Volume.1', 'MSFT'),
                        ('Volume.2', 'SPY')],
      dtype='object')

In [71]:
stocks

,"(Unnamed: 0, Unnamed: 1_level_1)","(Adj Close, AMZN)","(Adj Close.1, MSFT)","(Adj Close.2, SPY)","(Close, AMZN)","(Close.1, MSFT)","(Close.2, SPY)","(High, AMZN)","(High.1, MSFT)","(High.2, SPY)","(Low, AMZN)","(Low.1, MSFT)","(Low.2, SPY)","(Open, AMZN)","(Open.1, MSFT)","(Open.2, SPY)","(Volume, AMZN)","(Volume.1, MSFT)","(Volume.2, SPY)"
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,6.695000,23.522570,87.483192,6.695000,30.950001,113.330002,6.830500,31.100000,113.389999,6.657000,30.590000,111.510002,6.812500,30.620001,112.370003,151998000.0,38409100.0,118944600.0
3,2010-01-05,6.734500,23.530167,87.714783,6.734500,30.959999,113.629997,6.774000,31.100000,113.680000,6.590500,30.639999,112.849998,6.671500,30.850000,113.260002,177038000.0,49749600.0,111579900.0
4,2010-01-06,6.612500,23.385763,87.776535,6.612500,30.770000,113.709999,6.736500,31.080000,113.989998,6.582500,30.520000,113.430000,6.730000,30.879999,113.519997,143576000.0,58182400.0,116074400.0
5,2010-01-07,6.500000,23.142555,88.147087,6.500000,30.450001,114.190002,6.616000,30.700001,114.330002,6.440000,30.190001,113.180000,6.600500,30.629999,113.500000,220604000.0,50559700.0,131091100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3456,2023-09-25,131.270004,317.540009,432.230011,131.270004,317.540009,432.230011,131.779999,317.670013,432.269989,128.770004,315.000000,428.720001,129.360001,316.589996,429.170013,46017800.0,17836000.0,70874500.0
3457,2023-09-26,125.980003,312.140015,425.880005,125.980003,312.140015,425.880005,130.389999,315.880005,429.820007,125.279999,310.019989,425.019989,130.119995,315.130005,429.089996,73048200.0,26297600.0,96168400.0
3458,2023-09-27,125.980003,312.790009,426.049988,125.980003,312.790009,426.049988,127.480003,314.299988,427.670013,124.129997,309.690002,422.290009,125.760002,312.299988,427.089996,66553400.0,19410100.0,104705800.0
3459,2023-09-28,125.980003,313.640015,428.519989,125.980003,313.640015,428.519989,126.580002,315.480011,430.250000,123.040001,309.450012,424.869995,124.040001,310.989990,425.480011,54555000.0,19683600.0,92258300.0
3460,2023-09-29,127.120003,315.750000,427.480011,127.120003,315.750000,427.480011,129.149994,319.470001,431.850006,126.320000,314.980011,425.910004,128.199997,317.750000,431.670013,62377600.0,24140300.0,115078500.0

In [75]:
stocks.columns=pd.MultiIndex.from_tuples(stocks.columns)
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
,Unnamed: 1_level_1,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY,AMZN,MSFT,SPY
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,6.695000,23.522570,87.483192,6.695000,30.950001,113.330002,6.830500,31.100000,113.389999,6.657000,30.590000,111.510002,6.812500,30.620001,112.370003,151998000.0,38409100.0,118944600.0
3,2010-01-05,6.734500,23.530167,87.714783,6.734500,30.959999,113.629997,6.774000,31.100000,113.680000,6.590500,30.639999,112.849998,6.671500,30.850000,113.260002,177038000.0,49749600.0,111579900.0
4,2010-01-06,6.612500,23.385763,87.776535,6.612500,30.770000,113.709999,6.736500,31.080000,113.989998,6.582500,30.520000,113.430000,6.730000,30.879999,113.519997,143576000.0,58182400.0,116074400.0
5,2010-01-07,6.500000,23.142555,88.147087,6.500000,30.450001,114.190002,6.616000,30.700001,114.330002,6.440000,30.190001,113.180000,6.600500,30.629999,113.500000,220604000.0,50559700.0,131091100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3456,2023-09-25,131.270004,317.540009,432.230011,131.270004,317.540009,432.230011,131.779999,317.670013,432.269989,128.770004,315.000000,428.720001,129.360001,316.589996,429.170013,46017800.0,17836000.0,70874500.0
3457,2023-09-26,125.980003,312.140015,425.880005,125.980003,312.140015,425.880005,130.389999,315.880005,429.820007,125.279999,310.019989,425.019989,130.119995,315.130005,429.089996,73048200.0,26297600.0,96168400.0
3458,2023-09-27,125.980003,312.790009,426.049988,125.980003,312.790009,426.049988,127.480003,314.299988,427.670013,124.129997,309.690002,422.290009,125.760002,312.299988,427.089996,66553400.0,19410100.0,104705800.0
3459,2023-09-28,125.980003,313.640015,428.519989,125.980003,313.640015,428.519989,126.580002,315.480011,430.250000,123.040001,309.450012,424.869995,124.040001,310.989990,425.480011,54555000.0,19683600.0,92258300.0
3460,2023-09-29,127.120003,315.750000,427.480011,127.120003,315.750000,427.480011,129.149994,319.470001,431.850006,126.320000,314.980011,425.910004,128.199997,317.750000,431.670013,62377600.0,24140300.0,115078500.0